Shaders/Gold Shader/XNAShaderProgramming/XNAShaderProgramming/bin/
Shaders/Gold Shader/XNAShaderProgramming/XNAShaderProgramming/obj/
Shaders/SmashGlass/SmashGlass/SmashGlass/bin/
Shaders/SmashGlass/SmashGlass/SmashGlass/obj/
Shaders/SmashGlass/SmashGlass/SmashGlassContent/obj/
Shaders/TriplanarMapping/Loading a 3D model/Loading a 3D model/obj/
*.cachefile
ShaderSeries/03_Vingettes/03_Vingettes/03_VingettesContent/obj/
Shaders/TriplanarMapping/Loading a 3D model/Loading a 3D modelContent/obj/
Shaders/TriplanarMapping/Loading a 3D model/Loading a 3D model/bin/
Shaders/Gold Shader/XNAShaderProgramming/XNAShaderProgrammingContent/obj/
*.dotCover
